.right > ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}
a {
  text-decoration: none;
  color: white;
}
.aboutus {
  background-color: rgba(31, 41, 55, 0.5);
  color: lightgray;
}
.aboutus-text {
  font-size: 1.5em;
}
.aboutus-text > ul > li {
  margin-left: 2.5vh;
}
