body {
  background-color: antiquewhite;
}
@media only screen and (max-width: 1000px) {
  .header > .left > .logo {
    font-size: 2rem;
  }
  .header > .right {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 560px) {
  .header > .right > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
.right > ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
a {
  text-decoration: none;
  color: white;
}
p > a {
  text-decoration: none;
  color: #3882f6;
}
.aboutus {
  margin-left: 2vh;
}
.booklist {
  height: 100%;
  color: black;
  padding: 20px;
}
.booklist-head {
  font-size: 3em;
  color: lightgray;
  font-weight: bolder;
}
.booklist-text {
  color: lightgray;
  font-size: 1.5em;
}
.booklist > ul > li {
  list-style-type: none;
}
span {
  font-weight: bolder;
}
.book {
  display: flex;
  border: 5px solid black;
  margin-top: 2rem;
  gap: 0.2em;
  background-color: rgba(31, 41, 55, 0.98);
}
.book > .left {
  padding-left: 0;
}
.book > .right {
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}
img {
  width: 20vh;
}
.right > p {
  margin-top: 0;
}
.footer {
  display: flex;
  background: #1f2937;
  justify-content: center;
  align-items: center;
  min-height: 8vh;
  float: bottom;
}
