.right > ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
a {
  text-decoration: none;
  color: white;
}
.aboutus {
  margin-left: 2vh;
}
.booklist {
  height: 100vh;
  color: black;
  padding: 20px;
}
.booklist > ul > li {
  list-style-type: none;
}
span {
  font-weight: bolder;
}
.book {
  display: flex;
  border: 5px solid black;
  margin-top: 2rem;
  gap: 0.2em;
}
.book > .right {
  padding-left: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}
img {
  width: 20vh;
}
.right > p {
  margin-top: 0;
}
