.contactus-head {
  font-size: 3em;
  font-weight: bold;
  color: lightgray;
}
.contactus {
  height: 100vh;
  color: black;
  padding: 20px;
  font-size: 1.5em;
}
.contactus-text > ul > li {
  list-style-type: none;
}
.right > ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}
a {
  text-decoration: none;
  color: white;
}
.contactus {
  background-color: rgba(31, 41, 55, 0.5);
  color: lightgray;
}
p:nth-child(2n + 3) {
  font-size: 1.2em;
  font-weight: bolder;
}
@media only screen and (max-width: 1000px) {
  .header > .left > .logo {
    font-size: 2rem;
  }
  .header > .right {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 560px) {
  .header > .right > ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}
