* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: white;
  background-color: antiquewhite;
}
.header {
  display: flex;
  background: #1f2937;
  padding: 8px;
  justify-content: space-around;
  align-items: center;
}
.left {
  display: flex;
  flex-direction: column;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.logo {
  font-size: 1.5rem;
}
